<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Preferences"
				 type="LineCount.Config.AppPreferencesSection, LineCount" />
  </configSections>
  <Preferences>
    <ProgrammingLanguages>
      <Language Name="C#" FileMask="*.cs" />
      <Language Name="C++" FileMask="*.cpp,*.inl,*.h,*.idl" />
      <Language Name="VB 6.0" FileMask="*.bas,*.frm,*.cls" />
      <Language Name="VB.NET" FileMask="*.vb" />
      <Language Name="SQL" FileMask="*.sql" />
    </ProgrammingLanguages>
  </Preferences>
</configuration>